@font-face{
  font-family: 'Lato-Regular';
  src: url('assets/Lato-Regular.ttf');

}
*{
  margin: 0;
  padding: 0;

}

html {
  scroll-behavior: smooth;

}

body {
  width: 1020px;
  margin: 0 auto;
  font-family: Lato-Regular, Myriad Pro, sans-serif;

}

button:focus {
  outline: 0;

}

/*HEADER*/

header{
  position: sticky;
  z-index: 3;
  top: 0;
  height: 90px;
  display: flex;
  justify-content: space-between;
  background-color: #2d303a;

}

h1{
  margin: 29px 0px 0px 40px;
  display: inline;
  font-size: 24px;
  color: white;

}

.star{
  font-size: 25px;
  color: #e36861; 

}

nav{
  margin: 37px 43px 0px 0px;

}

.active{
  background-color: #f06c64;

}

nav a{
  display: inline;
  font-size: 11.7px;
  color: white;
  text-decoration: none;

}

nav a:hover{
  color: #e36861;

}

nav span{
  margin-left: 9px;
  margin-right: 9px;
  vertical-align: 3px;
  color: #494e62;

}

.header-line{
  background-color: #323746;
  height: 7px;
  border: none;

}

/*SLIDER*/

.slider{
  display: flex;
  height: 591px;

}

.slider h2{
  display: none;

}

.carousel-container{
  width: 100%; 
  background-color: #f06c64;
  overflow: hidden;

}

.carousel-slide{
  display: flex;
  width: 100%;

}

#move-left{
  position: relative;
  z-index: 2;
  
}

#move-right{
  position: relative;
  z-index: 2;
  
}


.phones{
  margin: 26px 0px 0px 111px;
  width: 100%;

}

#iphone-vertical{
  position: relative;
  top: 27px;
  box-shadow: 24px 24px 0px #ce5d56;
  border-radius: 0px 30px 24px 22px;
  z-index: 2;
  
}

.iphone-vertical-black{
  position: relative;
  top: 27px;
  right: 219px;
  z-index: 1;

}

#iphone-horizontal{
  position: relative;
  margin-right: 451px; 
  left: 314px;
  bottom: 315px;
  box-shadow: 24px 24px 0px #ce5d56;
  border-radius: 0px 30px 24px 22px;
  z-index: 2;
  
}

.iphone-horizontal-black{
  position: relative;
  bottom: 533px;
  left: 314px;
  z-index: 1;
}

.arrow-right, .arrow-left {
  width: 20px;
  height: 20px;
  bottom: 643px;
  border: solid #ca4549;
  border-width: 0px 5px 5px 0px;
  border-radius: 4px 4px 4px 4px;
  padding: 3px;
  background: none;
    
}

.arrow-right {
  left: 933px;
  transform: rotate(-45deg);

}

.arrow-right:hover {
  box-shadow: -4px -4px #ca4549 inset;

}

.arrow-left {
  left: 44px;
  transform: rotate(135deg);

}

.arrow-left:hover {
  box-shadow: -4px -4px #ca4549 inset;

}
  
.phones-line{
  height: 7px;
  background-color: #ea676b;
  border: none;

}

/*SERVICES*/

#services{
  height: 497px;
  color:#666d89;
  background-color: #f2f2f2;

}

.description{
  width: 939px;
  padding: 57px 0px 0px 40px;

}

.description h3{
  font-size: 31px;
  font-weight: bolder;

}

.description p{
  margin: 18px 0px 44px 0px;
  font-size: 17.59px;
  line-height: 1.7;

}

.advantages{
  display: flex;
  margin-left: 20px;
  
}

article{
  display: inline-block;
  width: 300px;
  margin: 0px 0px 20px 20px;

}

article img{
  float: left;
  padding: 5px 21px 20px 0px;

}

article p{
  text-align: justify;
  margin: 11px 0px 30px 0px;
  width: 295px;
  font-size: 11.5px;
  line-height: 1.78;
  
}

 /*PORTFOLIO*/

.design-active{
  border: solid white !important;
  color: white !important;

}

#portfolio{
  height: 863px;
  padding-left: 41px;  
  color: #666d89;
  background-color: #2d303a;

}

#portfolio h3{
  font-size: 32px;
  padding: 58px 0px 22px 0px;

 }

 #portfolio p{
  font-size: 17px;
  padding: 0px 15px 14px 0px; 

 }

#design-select button{
  padding: 3px 6px 3px 6px;
  margin: 0px 5px 5px 0px;
  border: solid #666d89;
  border-width: 1px 1px 1px 1px;
  border-radius: 4px 4px 4px 4px;
  font-size: 12px;
  color: #666d89;
  background: none;

}

#portfolio button:hover{
  color: white;
  border-color: white;

} 
 
.gallery{
  height: 616px;
  overflow: hidden;

}

.click{
  width: 209px;
  margin: 12px 16px 0px 0px;
  padding: 0px !important;
  border: 5px solid #F06C64;

}

#gallery img{
  padding: 16px 16px 0px 0px;

}

.portfolio-line{
  height: 7px;
  background-color: #323746;
  border: none;

}

 /*ABOUT US*/

#about{
  height: 729px;
  padding-left: 41px; 
  color: #666d89;
  background-color: #f2f2f2;

}

#about h3{
  padding: 59px 0px 0px 0px; 
  font-size: 30px;
  font-weight: bold;

}

.description-about{
  padding: 21px 0px 44px 0px;
  font-size: 17px;
  letter-spacing: 0.3px;
  line-height: 29px;

}

.employees{
  display: flex;

}

figure{
  width: 303px;
  margin-right: 16px;

}

figcaption h2{
  padding: 12px 0px 11px 0px;
  font-size: 18px;

} 

figcaption p{
  margin-bottom: 25px;
  font-size: 11.8px;
  text-align: left;
  line-height: 19px;

} 

figcaption a{
  margin-right: 4px;

}

@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

figcaption img:hover{
  animation: scale-up 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

.about-line{
  height: 7px;
  background-color: white;
  border: none;
  
}

/*CONTACT*/

#contact{
  height: 646px;
  padding-left: 41px; 
  color: #f0d8d9;
  background-color: #f06c64;

}

#contact h3{
  padding: 59px 0px 0px 0px; 
  font-size: 29.6px;
  font-weight: bold;

}

.contact-description{
  padding: 21px 0px 41px 0px;
  font-size: 16.9px;
  letter-spacing: 0.3px;
  line-height: 29px;

}

.feedback{
  display: flex;

}

form{
  width: 604px;
  margin-top: 2px;

}

input, textarea{
  margin-bottom: 16px;
  padding-left: 13px;
  width: 100%;
  border: none;
  border-radius: 4px 4px 4px 4px;
  font-size: 12px;
  font-family: Lato-Regular;
  background-color: #d6564f;

}

input{
  height: 37.5px;
 
}

::placeholder { 
  color: #ec7e7e;
  opacity: 1;
}

textarea{
  height: 193px;
  padding-top: 9px;
  
}


#contact button{
  width: 90px;
  height: 34px;
  margin-left: 526px;
  border: none;
  border-radius: 4px 4px 4px 4px;
  font-size: 12px;
  color: #f0d8d9;
  background-color: #d6564f;

}

#submit-button{
  display: none;

}

#message-block{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 2798px;
  left: 0;
  background: #0008;

}

#message-block.hidden{
  display: none;

}

#message{
  position: absolute;
  top: 40%;
  left: 25%;
  border: 2px solid #666d89;;
  border-radius: 4px 4px 4px 4px;
  background-color: salmon;
  font-family: Lato-Regular;
  font-size: 24px;
  text-align: center;
  
}

#message p{
  font-size: 30px;

}

#close-button{
  margin: 10px;

}

aside{
  width: 301px;
  margin-left: 36px;

}

aside h4{
  font-size: 18.6px;

}

aside p{
  margin: 10px 0px 22px 0px;
  font-size: 11.8px;
  line-height: 21px;

}

aside figure{
  float: left;
  margin-bottom: 3px;

}
aside figcaption{
  padding-left: 9px;
  font-size: 11.4px;
  display: inline-block;
  
}

.contact-line{
  height: 7px;
  background-color: #ea676b;
  border: none;

 }

/*FOOTER*/

footer{
  display: flex;
  justify-content: space-between;
  height: 77px;
  color: #4f5569;
  background-color: #2d303a;

}

.copyright{
  margin: 31px 0px 0px 40px;
  font-size: 11.8px;
    
}

.socials{
  margin: 24px 39px 0px 40px;

}

.socials a{
  padding-left: 4px;

}

@keyframes rotate-scale-down-ver {
  0% {
    transform: scale(1) rotateY(0);
  }
  50% {
    transform: scale(0.5) rotateY(180deg);
  }
  100% {
    transform: scale(1) rotateY(360deg);
  }
  
}

.socials img:hover {
  animation: rotate-scale-down-ver 0.65s linear both;
  
}


